<div class="container text-center">
  <h1>About Us</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  for Developers, Investors and Entrepreneurs to meet.</p>
  <br/>
<div/>
<div class="container text-left">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><strong>*But really this is fictitious start-up to practice my skills as a Web Developer.*</strong></p>
      <li>Filled out contact forms get sent directly to my email account</li>
      <li>While in Development you can sign up for the Pro Account for free.
        <ul>
          <li>Use 4111111111111111 as the Credit Card number</li>
          <li>Use any 3 digit number as the CVV</li>
          <li>And any Expiration Date that is in the future</li>
        </ul>
      </li>
      <li>Though the site is all set up to collect Credit Cards through a service called <a href="https://stripe.com/">Stripe</a>.</li>
    </div>
  </div>
</div>